@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

/* variables */
:root {
    --primary-darkmode: #0d1117;
    --primary-darkmode8: #21262d;
    --primary-color: #ff944d;
    --primary-color-8: #f39d128a;
    --blue-100: #c4e0fd;
    --blue-300: #1159a6;
    --blue-200: #007aff;
    --blue-400: #081d34;
    --blanco-tras: ;
    --text-color: #ffffff;
}

/* generales */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: Roboto;
    background: var(--primary-darkmode);
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* navegacion */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: var(--primary-darkmode8);
    z-index: 500;
}

/* logo */
nav .logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    color: var(--text-color);
}

/* enlaces */
nav .enlaces {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
    width: auto;
    height: 100%;
}

nav .enlaces a {
    text-decoration: none;
    color: var(--text-color);
}

nav .enlaces .btn:hover {
    /* color: var(--blue-100); */
    background-color: rgb(17, 29, 47);
    border-bottom: 3px solid var(--blue-300);
    /* border-radius: 0.5em; */
    padding: 0.1em;
    /* font-size: ; */
}

/* service */
nav .service {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 300px;
    height: 100%;
}

nav .service a {
    text-decoration: none;
    color: var(--text-color);
}

nav .service .btn {
    background-color: rgba(255, 255, 255, 90%);
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    color: var(--primary-darkmode);
}

nav .service .btn:hover {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
}

nav .fa-cart-shopping:hover {
    color: var(--blue-200);
}

/* main */
.container {
    display: grid;
    /* grid-template: repeat(12, 1fr) / repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template: repeat(8, 1fr) / repeat(9, 1fr);
    gap: 5px;
    width: 100%;
    height: 89vh;
    padding-top: 50px;
}

/* card */
.card {
    position: relative;
    transition: all .5s;
}

.card:nth-child(1) {
    grid-area: 1 / 1/ 5 / 7;
}

.card:nth-child(2) {
    grid-area: 5 / 1 / 9 / 7;
}

.card:nth-child(3) {
    grid-area: 1 / 7 / 10 / 10;
}

/* content */
.content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    color: var(--text-color);
    border-radius: 14px;
    background-color: rgba(255, 252, 252, 0.116);
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .7s;
}

.content h2 {
    position: absolute;
    top: 12px;
    left: 16px;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;

}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    right: 0;
    width: 30px;
    height: 20%;
    padding: 0 3px;
    border-radius: 3px;
    /* z-index: 499; */
    background-color: var(--primary-darkmode8);
}

.content-rrss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-rrss a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 25px;
    color: var(--text-color);
    width: 30px;
    height: 30px;
}

.fa-instagram:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: red;
}

.fa-x-twitter:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 162, 255);
}

.content-wsp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 0 3px;
    border-radius: 50px;
    z-index: 499;
    background-color: green;
}

.content-wsp a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--text-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: var(--text-color);
    background-color: var(--primary-darkmode8);
}