@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

/* variables */
:root {
    --primary-darkmode: #0d1117;
    --primary-darkmode8: #21262d;
    --primary-color: #ff944d;
    --primary-color-8: #f39d128a;
    --blue-100: #c4e0fd;
    --blue-300: #1159a6;
    --blue-200: #007aff;
    --blue-400: #081d34;
    --blanco-tras: ;
    --text-color: #ffffff;
}

/* generales */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: Roboto;
    background: var(--primary-darkmode);
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* navegacion */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem 0.5rem;
    /* background: var(--primary-darkmode8); */
    background-color: transparent;
    z-index: 4;
}

/* logo */
.container-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 100%;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* enlaces */
nav .enlaces {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
    width: auto;
    height: 100%;
}

nav .enlaces a {
    text-decoration: none;
    color: var(--text-color);
}

nav .enlaces .btn:hover {
    color: var(--blue-100);
    border-bottom: 2px solid var(--blue-300);
}

/* service */
nav .service {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 18.75rem;
    height: 100%;
}

nav .service .btn {
    background-color: rgba(255, 255, 255, 90%);
    color: var(--primary-darkmode);
    padding: 0.3em 1.5em;
    border-radius: 0.5em;    
}

nav .service .btn:hover {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
}

nav .fa-cart-shopping:hover {
    color: var(--blue-200);
}

/* main */
/* .container {
    display: grid;
    grid-template: repeat(2, 580px) / repeat(12, 1fr);
    gap: 20px;
    margin: 0 100px;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
} */

.container {
    position: relative;
    width: 100%;
    /* height: 100vh; */
}

/* card */
/* .card {
    display: grid;
    height: 100%;
    transition: all .5s;
} */
.card {
    position: sticky;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 580px) / repeat(12, 1fr);
    gap: 20px;
    margin: 0 100px;
    /* padding-top: 50px; */
}

.card:nth-child(1) {
    grid-area: 2 / 1 / 3 / 6;
}

.card:nth-child(2) {
    grid-area: 2 / 6 / 3 / 12;
}

.card:nth-child(3) {
    grid-area: 1 / 1 / 12 / 2;
}

/* content */
.content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    color: var(--text-color);
    border-radius: 14px;
    background-color: rgba(255, 252, 252, 0.116);
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .7s;
}

.content h2 {
    position: absolute;
    top: 12px;
    left: 16px;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;

}

.content-wsp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 0 3px;
    border-radius: 50px;
    z-index: 499;
    background-color: green;
}

.content-wsp a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--text-color);
}

/* aside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    right: 0;
    width: 30px;
    height: 20%;
    padding: 0 3px;
    border-radius: 3px;
    /* z-index: 499; 
background-color: var(--primary-darkmode8);
}
*/
*/ .content-rrss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-rrss a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 25px;
    color: var(--text-color);
    width: 30px;
    height: 30px;
}

.fa-instagram:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: red;
}

.fa-x-twitter:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 162, 255);
}

footer {
    display: flexbox;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: var(--text-color);
    background-color: var(--primary-darkmode8);
}