body {
    /* background-color: rgb(230, 17, 17); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    opacity: 1;
    border-radius: 60px;
}

a {
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.container-slider {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    /* background-color: grey; */
}

.content-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;
    position: absolute;
    /* background-color: chartreuse; */
    width: 100%;
    height: 100vh;
}

.image-slider {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    /* background-color: chocolate; */
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cards */
.container-pets{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(10px);
    /* background-color: darkolivegreen; */
}

.content-pets {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: burlywood; */
    padding: 9px;
}

.card-cats {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    /* border: 3px solid blue; */
}

.card-cats img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-dogs {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
    /* border: 3px solid blue; */
}

.card-dogs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}